.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
metrics_that_matter.html
metrics_that_matter_files
metrics_that_matter_pdf.log
metrics_that_matter_pdf.pdf
metrics_that_matter_pdf.tex
metrics_that_matter_pdf_files
metrics_that_matter.pdf
